.vscode/**
.github/**
.gitignore
src/**
server/**
test/**
out/**
node_modules/**
.cache/**
bin/phpstrom
bin/phpstrom.exe
bin/*/phpls
bin/*/phpls.exe
bin/windows-*/**
**/*.map
tsconfig*.json
webpack.config.js
.eslintrc.json
Makefile
